*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    width: 800px;
    height: 500px;
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
  }

  .ball {
    position: absolute;
    border-radius: 50%;
  }